.App {
  text-align: center;
}

.App-header {
  /* background-color: #282c34; */
  /* min-height: 90vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  font-size: calc(10px + 2vmin);
  /* color: white; */
}

.App-link {
  color: #61dafb;
}

.App-buttons {
  display: flex;
  flex-direction: row;
}

.App-buttons > button {
  font-size: 1.5rem;
  padding: 4%;
  border-radius: 10px;
  margin-right: 10px;
  margin-left: 10px;
  border: none;
  /* color: white;  */
  font-weight: bold;
  background-color: #3B48CC;
  color: white;
  /* background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,116,1) 100%); */
}

button:hover {
  box-shadow: 20px 20px 20px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

img:hover {
  box-shadow: 20px 20px 20px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

img {
  display: flex;
  height: 3.5rem;
  border-radius: 10px;
}

.App-info{
  display: flex;
  flex-direction: column;
}

.App-form > form{
  display: flex;
  flex-direction: row;
  padding: 1rem;
  /* background-color: lightgray; */
  /* justify-content: center; */
  /* margin-left: -700px;
  margin-right: -700px; */
}

.App-form > form > button {
  border-radius: 5px;
  margin-right: 10px;
  margin-left: 10px;
  border: none;
  /* font-weight: bold; */
  background-color: #3B48CC;
  color: white;
}

.App-form > form > label {
  margin: 0 5px 0 20px;
}

.App-form > form > input {
  width: 40px;
}

.App-signout {
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  background-color: #3B48CC;
}

.App-signout-username {
  padding: 14px 14px 0 0;
  font-weight: 700;
  color: white;
}

.App-title {
  display: flex;
  justify-content: center;
  flex-direction: row;
  background-color: #3B48CC;
  font-weight: 800;
  font-size: xx-large;
  color: white;
  padding: 0.5rem;
  /* background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,116,1) 100%); */
}